USEARCH="/ifs/data/nfs_share/ikmb_repository/software/usearch/8.1/usearch"
FASTQ_QUALITY_FILTER="/ifs/data/nfs_share/ikmb_repository/software/fastx/0.0.13/fastq_quality_filter"

RDP_FA="/home/sukmb352/ikmb_source/references/rdp/2016-10/rdp.fa"
GOLD_FA="/home/sukmb352/ikmb_source/references/usearch/gold.fa"
