// ADAPTER TRIMMING

// Path to the trimmomatic installation
TM_PATH=""
// Path to trimmomatic installation plus the name of the trimmomatic jar file
TM_JAR="$TM_PATH/<insert file name here>"
// Adapter file (must match the library kit used for sample preparation)
ADAPTER="NexteraPE-PE.fa"

// Binaries

// Path to the spades executable - spades.py, if it is in $PATH
SPADES="spades.py"

// Path to prokka executable - prokka, if it is in $PATH
PROKKA="prokka"
