executor="pbspro"
procs=1
queue="express"
walltime="00:10:00"
memory="7"

// Specify resources for individual tools

commands {

	trimmomatic {
		procs=8
		walltime="01:00:00"
	}

	spades {
		procs=16
		walltime="03:00:00"
		memory=32
		queue="small"
	}

	prokka {
		procs=8
		walltime="02:00:00"
		memory=16
		queue="small"
	}
	
	usearch_fastq_filter {
		procs=1
		walltime="02:00:00"
		queue="small"
	}

	usearch_uchime_ref {
		procs=1
		walltime="02:00:00"
		queue="small"
	}
}
